#todo-footer
  width auto
  height: 20px
  color: rgb(119, 119, 119)
  padding: 10px 15px
  text-align: center
  align-items center
  font inherit
  font-size 14px
  line-height 19.6px
  border-top: 1px solid #e6e6e6

  @media(max-width 414px)
    #todo-footer
      font-size 13px

  .filters
    display inline-block
    right 0
    left 0
    margin 0
    margin-top 1px
    padding none
    list-style none
    width auto

    @media(max-width 414px)
      .filters
        padding 0
        float left

    li
      display inline
      font-size inherit

      a
        margin 0 3px
        padding 3px 7px
        text-decoration none
        color #777
        cursor pointer
        border 1px solid transparent
        border-radius 3px

        &:hover
          border-color rgba(175, 37, 37, 0.1)

       .selected
         border-color rgba(175, 47, 47, 0.2)

         &:hover
          border-color rgba(175, 47, 47, 0.2)


  .clear-completed
    float right
    width 112px
    height 20px
    padding 0

    @media(max-width 414px)
      .clear-completed
        width auto

    &:hover
      text-decoration underline

    .completed-button
      height auto
      font-size inherit
      color inherit
      margin 0 auto
      cursor pointer
      background-color transparent

   .hidden
    display none

  .todo-count
    width 20%
    float: left
    font inherit

    @media(max-width 414px)
      .todo-count
        display none
