#todo-footer
  width auto
  height: 20px
  color: rgb(119, 119, 119)
  padding: 10px 15px
  text-align: center
  border-top: 1px solid #e6e6e6
  align-items center
  font inherit
  font-size 14px
  line-height 19.6px

  .filters
    display inline-block
    right 0
    left 0
    margin 0
    padding none
    list-style none
    width auto

    li
      display inline
      font-size inherit

      a
        margin 0 3px
        padding 3px 7px
        border 1px solid transparent
        border-radius 3px
        text-decoration none
        color #777
        cursor pointer

        &:hover
          border-color rgba(175, 37, 37, 0.1)

       .selected
         border-color rgba(175, 47, 47, 0.2)

         &:hover
          border-color rgba(175, 47, 47, 0.2)


  .clear-completed
    width: auto
    height auto
    float right
    margin 0 auto
    margin-top -1 px
    cursor pointer
    background-color transparent
    font inherit
    color inherit

    &:hover
      text-decoration underline

  .todo-count
    float: left
    font inherit
    width 20%

