transform(value)
  transform: value

#newTodo
  color black
  padding 16px 16px 16px 30px
  height auto
  width 91%

  &::-webkit-input-placeholder
    color rgb(220, 220, 220)
    font-style italic
  &::-moz-placeholder
    color rgb(220, 220, 220)
    font-style italic
  &::input-placeholder
    color rgb(220, 220, 220)
    font-style italic

.label
  width auto

.delete
  background-color red
  border none

#toggleAll
  position relative
  display inline-block
  width 20px
  height 20px
  left 5px
  padding 0
  padding-left: 10px
  font-size 22px
  border none
  background-color transparent
  outline none
  color rgb(230, 230, 230)
  transform rotate(90deg)

@media(max-width 600px)
  #newTodo
    padding-left 30px
