transform(value)
  transform: value

#newTodo
  height auto
  width 91%
  padding 16px 16px 16px 30px
  color black

  @media(max-width 600px)
    #newTodo
      padding-left 30px

  &::-webkit-input-placeholder
    color rgb(220, 220, 220)
    font-style italic
  &::-moz-placeholder
    color rgb(220, 220, 220)
    font-style italic
  &::input-placeholder
    color rgb(220, 220, 220)
    font-style italic

.label
  width auto

.delete
  background-color red
  border none

#toggleAll
  position relative
  left 5px
  display inline-block
  width 20px
  height 20px
  padding 0
  padding-left: 10px
  font-size 22px
  border none
  background-color transparent
  outline none
  color rgb(230, 230, 230)
  transform rotate(90 deg)
