.todo
  border-top 1px solid gray
  list-style none
  background-color white
  color black

  input.edit
    display none

  .toggle
    width 20px

  .editing label
    display none

  .label
    display inline-block
    color black

    .editing
      display: none;

  .delete
    position: relative;
    top: 0;
    right: -50px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 30px;
    color: #cc151c;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    outline: none


  .done
    color gray
    text-decoration line-through

