.todo
  height 58px
  border-top 1px solid #ededed
  padding-top 6px
  list-style none
  background-color white
  color rgb(77, 77, 77)

  input.edit
    display none

  .toggle
    width 20px

  .editing label
    display none

  .label
    display inline-block
    color black

    .editing
      display: none;


  .destroy
    position relative
    border none
    background-color white
    float: right
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #cc9a9a;
    margin: auto 0;
    margin-bottom: 11px;
    outline: none

  .done
    color gray
    text-decoration line-through

